*/bin/
/bin/
/obj/
*/obj/
/.vscode/
*/.vscode/
/ReFrontier/
ReFrontier-master.zip
/QuestBinTools/QuestBins/
/References
*/References/
/QuestData/
*/QuestData/
/QuestData-Backup/
*/QuestData-Backup/
/Quest-Data/
*/Quest-Data/
/DataDumps/
*/DataDumps/
/Quest-Data-Backup/
*/Quest-Data-Backup/
/output/
*/output/
./Docs/guides/README.md
/Docs/guides/README.md
Crc32.NET-1.2.0.zip
Crc32.NET-develop.zip
CsvHelper-12.1.2.zip
CsvHelper-master.zip